@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!--<h1 class="text-danger">Error.</h1>-->
<h2 class="text-danger" style="text-align:center">Бројот на карти е невалиден</h2>

